.yith-wrvp-shortcode-tab .shortcode-options,
.yith-wrvp-shortcode-tab .shortcode-preview {
    border: 1px solid #cdcdcd;
    padding: 15px;
}
.yith-wrvp-shortcode-tab .shortcode-preview {
    padding: 15px;
    margin-top: 20px;
    background-color: #fff;
    font-size: 17px;
    color: #333;
    line-height: 26px;
}
.yith-wrvp-shortcode-tab h4 {
    margin-top: 0;
}

#yith-wrvp-test-mail {
    width: 300px;
}
#yith_num_post {
    width: 80px;
}
input#yith_title,
select#yith_order,
select#yith_prod_type {
    width: 250px;
}

/* tinymce */
i.mce-i-ywrvp-icon {
    background-image: url('../images/yithemes-icon.png') ;
    width: 16px;
    height: 16px;
    vertical-align: top;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: -2px;
    padding-right: 2px
}